
  <div class="container" style="border: 2px salmon solid;padding: 0px ;height: 221px;border-radius: 5px">
      <h3 style="text-align: center;margin: 20px ">{{DataResponse.title}}</h3>
      <p style="line-height: 2.5em;text-align: center">{{DataResponse.body}}</p>
      <button  type="button" class="btn btn-danger btn-lg btn-block" (click)="OnBackClick()">Back</button>
  </div>

  
   
 
  
  
  